version: '2'
# the following environment variables are expected to be available when running
# docker-compose up
# - mipmap_source: The folder containing the data to convert and the associated configuration
# - mipmap_target: Where to store the result of the conversion
# - mipmap_db: Where to store the PostgreSQL DB files for MIPMap

# WARNING: For some reason, during the first start the postgres DB is not always ready fast
#          enough, just make sure to restart everything if it fails the first time.


services:

  i2b2_setup:
    image: "hbpmip/i2b2-setup:1.5.2"
    container_name: "i2b2-setup"
    command: "upgrade head"
    external_links:
      - "{{ postgresql_container }}:test_postgres"
    environment:
      - DB_URL=postgresql://{{ postgresql_user }}:{{ postgresql_pwd }}@test_postgres:{{ postgresql_port }}/{{ capture_db }}
    network_mode: bridge


  i2b2_setup_harmonized:
    image: "hbpmip/i2b2-setup:1.5.2"
    container_name: "i2b2-setup-harmonized"
    command: "upgrade head"
    external_links:
      - "{{ postgresql_container }}:test_postgres"
    environment:
      - DB_URL=postgresql://{{ postgresql_user }}:{{ postgresql_pwd }}@test_postgres:{{ postgresql_port }}/{{ harmonize_db }}
    network_mode: bridge

