{
    "hospital_name": "{{ hospital_name }}",
    "mipmap":{
        "dbproperties": "{{ df_db_properties }}",
        "preprocess": {
            "root":"{{ mipmap_preprocess }}"
        },            
        "capture": {
            "root": "{{ mipmap_capture }}"
        },
        "harmonize": {
            "root": "{{ mipmap_harmonize }}"
        },
        "imaging": {
            "root": "{{ mipmap_imaging }}",
            "mapping": {
                "input_files": ["volumes.csv", "{{ mri_visit_file }}"],
                "processed_files" : ["volumes_df.csv"]
            }
        },
        "input_folders":{
            "ehr":"{{ df_ehr_input_path }}",
            "imaging":"{{ df_imaging_source_path }}"
        }
    },
    "sql_scripts_folder":"{{ mipmap_export }}",
    "flattening":{
        "output_folder": "{{ df_output_path }}",
        "strategy":{
            "mindate":{
                "sql": "pivot_i2b2_MinDate.sql",
                "csv": "harmonized_clinical_data_min.csv"
            },
            "maxdate":{
                "sql":"pivot_i2b2_MaxDate.sql",
                "csv":"harmonized_clinical_data_max.csv"
            },
            "6months":{
                "sql":"pivot_i2b2_6_months_MRI_Diag.sql",
                "csv":"harmonized_clinical_data.csv"
            },
            "longitude":{
                "sql": "pivot_i2b2_longitudinal.sql",
                "csv": "harmonized_clinical_data_long.csv"
            }
        }
    },
    "anonymization":{
        "anonymization_sql": "anonymize_db_ides.sql",
        "output_folder": "{{ df_anon_output_path }}",
        "hash_method": "sha224",
        "strategy":{
            "mindate":{
                "sql": "pivot_i2b2_MinDate_fed.sql",
                "csv": "harmonized_clinical_data_min_anon.csv"
            },
            "maxdate":{
                "sql":"pivot_i2b2_MaxDate_fed.sql",
                "csv":"harmonized_clinical_data_max_anon.csv"
            },
            "6months":{
                "sql":"pivot_i2b2_6_months_MRI_Diag_fed.sql",
                "csv":"harmonized_clinical_data_anon.csv"
            },
            "longitude":{
                "sql": "pivot_i2b2_longitudinal_fed.sql",
                "csv": "harmonized_clinical_data_long_anon.csv"
            }
        }        
    },
    "db_docker":{
        "container_name": "{{ postgresql_container }}",
        "postgres_user": "{{ postgresql_user }}",
        "postgres_pwd": "{{ postgresql_pwd }}",
        "postgres_port": "{{ postgresql_port }}",
        "capture_db": "{{ capture_db }}",
        "harmonize_db": "{{ harmonize_db }}",
        "mipmap_db": "{{ mipmap_db }}",
        "anonymized_db": "i2b2_anonymized"
    },
    "mri":{
        "input_folders": {
            "nifti": {
                "raw" : "{{ df_nmm_nifti_raw_input }}",
                "organized": "{{ df_nmm_nifti_input }}"
            },
            "dicom": {
                "raw": "{{ df_nmm_dicom_raw_input }}",
                "organized": "{{ df_nmm_dicom_input }}"
            }
        },
        "output_folders": {
            "spm12" : "{{ df_nmm_spm12_output }}"
        }
    }
}
