driver = org.postgresql.Driver
uri = jdbc:postgresql://{{ postgresql_container }}:{{ postgresql_port }}/
username = {{ postgresql_user }}
password = {{ postgresql_pwd }}
mappingTask-DatabaseName = {{ capture_db }}
